{block #title}
	<i class="icon mdi mdi-spa"></i> Služby
{/block}

{block #buttons}
	<a n:href="edit" class="btn btn-success">Vytvořit službu</a>
{/block}

{block content}
	<div class="m-admin-fix bg-white pb-2">
		{control serviceGrid}
	</div>
{/block}
