@include media-breakpoint-up(xs) {

}



@include media-breakpoint-up(sm) {
	header {
		.content {
			padding: 0 3rem;
		}

		.cta-btns {
			grid-template-columns: 1fr 1fr;
		}
	}

	// scroll top
	#scrollTopBtn {
		margin: unset;
		bottom: 6rem;
		padding: .8rem 1.2rem;
		right: -130px;
		font-size: 1.2rem;
		justify-content: space-evenly;
		border-radius: $border-radius 0 0 $border-radius;

		&:hover {
			text-decoration: none;

		}
	}

	footer {
		.created {
			padding: 3.5rem 150px 3.5rem 0;
		}
	}
}



@include media-breakpoint-up(lg) {

	h1 {
		font-size: $h1-font-size * 1.2;
	}
	h2 {
		font-size: $h2-font-size * 1.2;
	}
	h3 {
		font-size: $h3-font-size * 1.1;
	}
	h4 {
		 font-size: $h4-font-size * 1.1;
	}

	section {
		padding: 130px 0 20px 0;
	}

	.secondary-page {
		padding-top: 240px;
		min-height: 900px;
	}

	.two-col-grid {
		grid-template-columns: calc(55% - 40px) calc(45% - 40px);
		grid-gap: 80px;

		img {
			max-height: 500px;
			width: 100%;
			object-fit: cover;
			object-position: center;
			margin: 3rem 0;
		}

		.content {
			font-size: 1.1rem;
			line-height: 150%;
		}
	}

	.navbar {
		height: 100px;
		position: sticky;
		margin-top: 70px;

		.navigation-toggler {
			display: none;
		}

		.navbar-collapse {
			padding-top: unset;
		}

		.nav-link {
			font-size: 1.1rem;
		}

		.btn {
			margin-left: 1.5rem;
		}
	}

	.scroll-down {
		display: none;
	}

	header {
		height: auto;
		grid-template-columns: calc(55% - 40px) calc(45% - 40px);
		grid-gap: 80px;
		align-items: end;
		margin-bottom: 30px;

		.content {
			padding: 0;
		}

		img {
			z-index: -1;
			position: relative;
			object-fit: cover;
			width: 100%;
			height: 100%;
			max-height: 700px;
			opacity: 1;
		}

		.cta-btns {
			margin-top: 5rem;
			display: grid;
			grid-template-columns: 10% 6fr 5fr 5%;
			grid-gap: 1rem;

			.btn {
				box-shadow: unset;
			}

			span {
				display: block;
				width: 100%;
				height: 100%;
			}

			.before {
				background-color: $sand-border;
			}
			.after {
				background-color: $sand-light;
			}
		}
	}

	.services {
		grid-template-columns: calc(55% - 40px) calc(45% - 40px);
		grid-gap: 80px;

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.pricing {
		position: relative;

		.container {
			grid-template-columns: calc(55% - 40px) calc(45% - 40px);
			grid-gap: 80px;
			background-color: $sand-bg;
		}

		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		.content {
			position: relative;

			&:before {
				top: 0;
				left: -100px;
				width: 100px;
				height: 100%;
				background-color: $sand-bg;
				position: absolute;
				content: '';
			}
		}

		.bg {
			display: block;
			z-index: -1;
			width: 100vw;
			height: calc(100% - 150px);
			margin-top: 130px;
			top: 0;
			left: 0;
			position: absolute;
			background-color: $sand-border;
		}
	}

	.news, .news-page {

		.news-grid {
			position: relative;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 30px;

			img {
				height: 250px;
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}


	.contact-grid {
		display: grid;
		grid-gap: 80px;
		grid-template-columns: 1fr 1fr;
	}

	.contact-form {
		order: 1;

		h3 {
			margin-bottom: 2rem;
		}
	}

	.contact-info {
		order: 2;
	}

	// contact form
	.g-recaptcha {
		display: block;
	}

	.lotus-bg {
		max-width: 650px;
	}
}

@include media-breakpoint-up(xl) {

	.lotus-bg {
		max-width: 800px;
	}

	.navbar {
		margin-top: 100px;

		.nav-link {
			margin: 0 .7rem;
			font-size: 1.2rem;
		}
		.btn {
			font-size: 1.2rem;
		}
	}

	header {
		img {
			max-height: 600px;
		}
	}

	.news-grid {
		grid-gap: 40px;
	}

	.news, .news-page {
		.prev-new, .next-new {
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 250px;
			position: absolute;
			background-color: $white;

			svg {
				width: 40px;
				height: auto;
				fill: $svg-icons;
			}
		}

		.prev-new {
			left: -100px;
		}
		.next-new {
			right: -100px;
		}
	}

	.services ul li a {
		font-size: 1.4rem;
	}

	.secondary-page {
		min-height: 1000px;
	}
}

@include media-breakpoint-up(xxxxl) {
	.news, .news-page {

		.news-grid {
			grid-gap: 50px;

			.new {
				grid-gap: 1.5rem;
			}
		}

		.prev-new, .next-new {
			width: 110px;

			svg {
				width: 50px;
			}
		}

		.prev-new {
			left: -160px;
		}
		.next-new {
			right: -160px;
		}
	}
}
