{block #content}
	<section class="services-page secondary-page container">
		<div class="content">
			<h1 n:block="title">Služby</h1>
			<a n:href="Homepage:" class="btn btn-secondary">Zpět na úvodní stránku</a>
		</div>
	</section>
{/block}
